.courseNew-body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}

.courseNew-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px; 
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.courseNew-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.courseNew-video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.courseNew-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  color: #2D4FFF;
}

.courseNew-title-link {
  color: #2D4FFF; 
  text-decoration: none;
}

.courseNew-title-link:hover {
  text-decoration: underline; 
  color: #2E71B8; 
}

.courseNew-details {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #333; 
}

.courseNew-date {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.courseNew-date::before {
  content: "\f133"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  color: #2e72cc; 
}

.courseNew-info-text {
  font-size: 0.9em;
  color: #333; 
}
