.posts-comment {
  position: relative;
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 500;
}
.button3 {
  border-radius: var(--br-5xl);
  background-color: var(--color-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs-5) var(--padding-5xl);
  white-space: nowrap;
  text-align: left;
  font-size: var(--p-size);
  color: var(--white);
  font-family: var(--heading-h4);
}
