.div1 {
  width: 7px;
  position: relative;
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 500;
}
.component-2-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page-dots {
  flex: 1;
  border-radius: var(--br-5xl);
  border: 1px solid var(--light-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-smi);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--p-size);
  color: var(--color-main);
  font-family: var(--heading-h4);
}
