.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
  background-color: #f8f9fa;
}

.modal-title {
  color: #2C2C2C; 
}

.btn-close {
  background-color: #e74c3c;
}

.btn-close:hover {
  background-color: #c0392b; 
}

.modal-body {
  padding: 1.5rem;
}

.col-form-label {
  color: #2C2C2C;
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.75rem 1.25rem;
}

.otp-container {
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.otp-input {
  width: 50px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  background-color: #f8f9fa;
}

.btn-secondary {
  border: none;
}

.btn-secondary:hover {
  background-color: #50A5F7;
}

.btn-primary {
   height: 35px;
  border-radius: 10px;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #50A5F7;
}

.mb-3 {
  margin-bottom: 1rem;
}
