.survey-container {
    margin: 0 auto;
    text-align: center;
    width: 100%; 
    max-width: 800px; 
    height: auto;
    padding: 20px; 
    box-sizing: border-box;
}

.questions h3 {
    background-color: #F2F3F5;
    padding: 10px; 
    margin: 20px 0;
}

.questions input[type="email"],
.questions input[type="reason"] {
    width: 100%;
    max-width: 450px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.questions input[type="reason"] {
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
}


.form-group h3 {
    background-color: #F2F3F5;
    padding: 10px; 
    margin: 20px 0;
}


.buttonSurvey-container {
    background-color: #2ECC71;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    display: block;
    max-width: 200px;
}
